{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
#!/bin/bash

{{ if eq $osid "linux-ubuntu" }}
{{ range .packages.debian.apt -}}
sudo apt install {{ . | quote }} -y
{{ end -}}
{{ end -}}

